# LLM API Keys
GEMINI_API_KEY=""
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
GROQ_API_KEY=""
OPENROUTER_API_KEY=""

# Ollama local host URL
OLLAMA_HOST="http://localhost:11434"

# Vector Database and Model Registry directories
VECTOR_STORE_DIR="vector_store/index"
MODEL_REGISTRY_DIR="models"

# Logging Level
LOG_LEVEL="INFO"
